html {
	font-family: 'Roboto', arial, sans-serif;
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, p {
	display: block;
	text-align: center;
}

header {	
	position: relative;
}

header img {
	width: 100%;
}

header #header-text {
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.3rem;
    color: white;
	text-align: center;
	width: 80%;
}

hr {
	border: none;
	border-top: 1px solid #dadada;
	width: 70%;
}

input[type=submit] {
	display: block;
	margin: 1rem auto;
	margin-bottom: 0;
}

section {
	padding: 2%;
}

section h2 {
	margin-top: 0;
}

aside {
	background-color: #eee;
	opacity: 0.5M;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}

aside p {
	display: inline-block;
}

aside input[type=submit] {
	display: inline-block;
	border: none;
	background-color: #ddd;
	padding: 7px 10px;
	margin: 0.5rem;
	margin-top: 0;
}

aside input[type=submit]:hover {
	background-color: #cacaca;
}

footer  {
	padding: 1%;
	padding-bottom: 0;
}

footer,
footer a {
	color: #c0c0c0;
	font-size: 0.9rem;
	text-align: center;
}

footer p {
	display: inline-block;
}

footer #created-text:after {
	content: " | ";
}

#introduction-part,
#introduction-part + hr {
	display: none;
}

#social-media a {
	display: block;
	text-align: center;
}

#psalm-part p:last-of-type {
	margin-bottom: 0;
}

#psalm-part i::before,
#psalm-part i::after {
	content: "\"";
}

#ban-jo-ko .table {
	margin-bottom: 0;
}

#winner {
	display: none;
	margin: 0 auto;
	text-align: center;
}

#restart {
	display: block;
	margin: 0 auto;
}

#draw {
	display: none;
	text-align: center;
}

form#hangman {
	text-align: center;
}

#searched-word {
	letter-spacing: 1px;
}

input#hangman-input {
	width: 25px;
	text-align: center;
}

img#hangman-lose {
	display: none;
	margin: 0 auto;
	margin-top: 1rem;
}

#failed-guesses-container {
	display: none;
}

#password-part form input[type=number] {
	width: 50px;
}

#password-part #password {
	display: none;
	margin-bottom: 0;
}

#password-part #generate-password {
	display: block;
	margin: 0 auto;
}

#meme-gallery-part {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#meme-gallery-part .meme,
#draw img,
#winner img {	
	width: 30%;
	min-width: 150px;
	height: auto;
	margin-top: 1%;
}

.table {
	display: table;
	margin: 2% auto;
}

.table-row {
	display: table-row;
}

.table-row .table-cell:last-child {
	border-right: none;
}

.table-row:first-child .table-cell {
	border-top: none;
}

.table-cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid #888;
	border-top: 1px solid #888;
	width: 100px;
	height: 100px;
}

.one-line-container {
	display: block;
	text-align: center;
}

.one-line-container p,
.one-line-container a {
	display: inline-block;
	margin-top: 0;
}

@media only screen and (max-width: 750px) {
	
	header p {
		display: none;
	}
	
	#introduction-part,
	#introduction-part + hr {
		display: block;
	}
	
	#meme-gallery-part .meme {
		width: 75%;
	}
	
	footer {
		display: flex;
		flex-direction: column;
	}
	
	footer #created-text {
		margin-bottom: 0;
	}
	
	footer #created-text:after {
		content: "";
	}
}